.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#projects {
  background-color: #e2edff;
}

section {
  padding-top: 6rem;
}

/* remove css line */
a {
  text-decoration: none;
}

/* Change the image in the table to 0 */

td {
  text-align: center;
}
